@{
    ViewBag.Title = "Blow Out";
}

<link href="~/Content/Styles.css" rel="stylesheet" />
<div style="background:grey" class="jumbotron">
    <h1>Welcome to Blow Out.</h1>
    <p class="lead">We blow our competitors out of the water.</p>
    <p><a href=@Url.Action("Rentals", "Rental") class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

<center>
    <img src="~/Content/Images/instruments2.PNG" style="width: 1140px" />
    <div class="row">
        <div class="col-md-6">
            <h2>Services</h2>
            <p>We provide rentals for an arrangemnt of various instruments. You can rent new or used instruments based on your professional or individual needs.</p>
        </div>
        <div class="col-md-6">
            <h2>Testimonial</h2>
            <p>
                "I like songs with trumpets in them." -Keara Hutchinson
            </p>
        </div>
        

    </div>
</center>