
@{
    ViewBag.Title = "Trumpet";
}
<link href="~/Content/Styles.css" rel="stylesheet" />


<h2>Trumpet</h2>
<img class="viewpic" src="~/Content/Images/trumpet.jpg" />


<button class="myButton" id="new" onmouseover="NewPrice()" onclick="location.href='@Url.Action("AddClient", "Client")'">New</button>

<button class="myButton" id="used" onmouseover="UsedPrice()" onclick="location.href='@Url.Action("AddClient", "Client")'">Used</button>
<p class="price" id="price"></p>


<script>

    function NewPrice()
    {
        document.getElementById("price").innerHTML = "$" + '@Html.Raw(ViewBag.NewPrice)';
    }

      function UsedPrice()
    {
        document.getElementById("price").innerHTML = "$" + '@Html.Raw(ViewBag.UsedPrice)';
    }

</script>


